{% extends "base.html" %}
{% block title %}Booking: {{ room.get_type_display }}{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm mx-auto" style="max-width: 500px;">
  <h2 class="mb-4">Booking room</h2>
  <p><strong>Hotel:</strong> {{ room.hotel.name }}</p>
  <p><strong>Room:</strong> {{ room.get_type_display }}</p>
  <p><strong>Check in:</strong> {{ check_in }}</p>
  <p><strong>Check in:</strong> {{ check_out }}</p>
  <p><strong>Adults:</strong> {{ adults }}</p>
  <form method="post">
    {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {% for err in form.non_field_errors %}
            <div>{{ err }}</div>
          {% endfor %}
        </div>
      {% endif %}
    <input type="hidden" name="check_in"  value="{{ check_in }}">
    <input type="hidden" name="check_out" value="{{ check_out }}">
    <input type="hidden" name="adults" value="{{ adults }}">
    <button type="submit" class="btn btn-primary w-100">Confirm booking</button>
  </form>
</div>
{% endblock %}