{% extends "base.html" %}
{% block title %}{{ hotel.name }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <h1>{{ hotel.name }}</h1>
      <img src="{{hotel.image_thumbnail.url}}" alt="{{hotel.name}}">
      <p><strong>Адреса:</strong> {{ hotel.address }}</p>
      <p><strong>Рейтинг:</strong> {{ hotel.rating }}</p>
      <p>{{ hotel.description }}</p>

      <h3>Кімнати</h3>
      <div class="list-group">
        {% for room in hotel.room_set.all %}
          <a href="{% url 'room-detail' room.pk %}" class="list-group-item list-group-item-action">
            Кімната №{{ room.number }} — {{ room.get_type_display }}
            (місць: {{ room.capacity }}, ціна за ніч: {{ room.price_per_night }})
          </a>
          <img src="{{room.image_thumbnail.url}}" alt="{{room.name}}">
        {% empty %}
          <p class="text-muted">Немає доступних кімнат.</p>
        {% endfor %}
      </div>

      <a href="{% url 'hotel-list' %}" class="btn btn-secondary mt-4">Назад до списку</a>
    </div>
  </div>
{% endblock %}