{% extends "base.html" %}

{% block title %}Список готелів{% endblock %}

{% block content %}
  <h1>Our Hotels around the world!</h1>

  <form method="get" class="search-bar d-flex align-items-center mb-4">
      <div class="input-group me-2 flex-fill">
        {{ search_form.city }}
      </div>
      <div class="input-group me-2">
        {{ search_form.check_in }}
      </div>
      <div class="input-group me-2">
        {{ search_form.check_out }}
      </div>
    <div class="input-group me-2">
        {{ search_form.min_price }}
      </div>
    <div class="input-group me-2">
        {{ search_form.max_price }}
      </div>
      <div class="input-group me-2 guest-input">
        {{ search_form.adults }}<span class="mx-1"></span>
        {{ search_form.rooms }}<span class="mx-1"></span>
      </div>
      <button type="submit" class="btn btn-primary px-4">Search</button>
  </form>

  <div class="row">
    {% for hotel in hotels %}
      <div class="col-md-4 mb-4 hotel-card">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ hotel.name }}</h5>
            <img src="{{hotel.image_thumbnail.url}}" alt="{{hotel.name}}">
            <p class="card-text">Address: {{ hotel.address|truncatechars:50 }}</p>
            <p>
              Rating: {{ hotel.rating }}<br>
              Description: {{ hotel.description|truncatechars:100 }}
            </p>
          </div>
          <div class="card-footer">
            <a href="{% url 'hotel-detail' hotel.pk %}" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No hotels found.</p>
    {% endfor %}
  </div>

  {% if is_paginated %}
    <nav>
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">« Back</a>
          </li>
        {% endif %}
        <li class="page-item disabled">
          <span class="page-link">page {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}</span>
        </li>
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Go forward »</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
      flatpickr(".datepicker", {
        dateFormat: "d-m-Y",
        locale: "uk"
      });
    </script>
{% endblock %}
